.adminContainer {
  .adminBodyContainer {
    display: flex;
    padding: 3rem;
    .textFieldContainer {
      width: 50vw;
      max-height: 34vw;
      background-color: #fff;
      overflow-y: scroll;
    }
  }

  .adminSearchbar {
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
  }
}
