.footerContainer {
  background-color: #000;
  margin: 5rem 0 0 0;
  text-align: center;
  padding: 15px 5px;
  p {
    color: gray;
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .footerContainer {
    margin-bottom: 3rem;
  }
}
