.headingContainer {
  display: flex;
  position: relative;
  h2 {
    margin: 0 1rem 0 1rem;
    font-size: 1.4em;
  }
  // .inner1 {
  //   height: 1px;
  //   width: 80%;
  //   margin: auto;
  //   background-color: aliceblue;
  // }
  // .inner2 {
  //   z-index: 999;
  //   position: absolute;
  //   bottom: -4.9vh;
  //   left: 45%;
  //   h2 {
  //     color: #f5c518;
  //     background-color: #0f0c29;
  //     padding: 5px 10px;
  //   }
  // }
}
