.headingContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 2rem 0 1rem;
  h2 {
    margin: 0 1rem 0 0;
    font-size: 1.4em;
  }
  .arrowWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    .arrow {
      background-color: aliceblue;
      color: #000;
      font-size: 2em;
      cursor: pointer;
      border-radius: 8px;
    }
    .arrow:hover {
      background-color: gray;
      color: #fff;
    }
  }
}
