html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  color: aliceblue;
}

a {
  color: inherit;
  text-decoration: none;
}
.PageLayoutContainer {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .PageLayoutContainer {
    margin-bottom: 5rem;
  }
}
